:root {
  --primary-color: rgb(55, 192, 28);
  --secondary-color: rgb(3, 82, 36);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.row-item {
  margin: 1rem;
}

.hero {
  padding: 8rem 0 8rem 0;
  text-align: center;
}

.hero p {
  padding: 0.5rem 0 0.5rem 0;
}

.card {
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

.card p {
  padding: 0.5rem 0 0.5rem 0;
}

.card button {
  margin-left: 0;
}

button {
  outline: 0;
  border: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

header {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

main {
  flex-grow: 1;
}

footer {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}
